@use "sass:math" as math;

$rows: 3;
$number: 20;
$angle: 180 / ($number - 1);

.parent {
    background:lightgray;
    width: 400px;
    height: 400px;
}

@for $i from 1 through $number {
    .circle:nth-child(#{$i}) {
        background: red;
        position: absolute;
        width:10px;
        height:10px;
        border-radius: 50%;
        translate: -50% -50%;
        top: calc(cos(#{($i - 1) * $angle}deg) * 100px  + 200px);
        left: calc(sin(#{($i - 1) * $angle}deg) * 100px + 200px);
    }
}

.graph {
    background-color: grey;
    height: 500px;
}
